doctype html
html(lang="en")
    head
        style(type="text/css").
            *, *:before, *:after {
                -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
            }
            html, body {
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
                position: relative;
            }
            canvas{
                width: 100%;
                height: 100%;
            }
            footer {
                position: absolute;
                with: 100%;
                bottom: 10px;
                left: 10px;
            }
        link(rel="icon", href="../favicon.ico", type="image/x-icon")
        meta(name="viewport", content="width = device-width")
    body
        footer
            p Just point and drag your finger or cursor around to draw.
            p Related blog post: <a href="http://www.kinderas.com/technology/">Coming soon..
        script(type="text/javascript", src="main.js")

